<!-- <div class=" container">
    <h1>Welcome to my weblog </h1>
    <span class="fa fa-plus" />
    <button class="btn btn-primary">Click here</button>
    <button class="btn btn-outline-danger">Second Btn</button>
</div> -->
<%- include("./includes/navbar.ejs") %>