<main class="form-signin w-100 m-auto rtl">
    <form action="/users/login" method="POST">
        <h1 class="h3 mb-3 fw-normal">ورود به بخش مدیریت</h1>
        <%- include("./includes/loginMessages.ejs") %>
            <div class="form-floating">
                <label for="floatingInput"> آدرس ایمیل</label>
                <input type="email" name="email" class="form-control mb-2" id="floatingInput" placeholder="آدرس ایمیل">
            </div>
            <div class="form-floating">
                <label for="floatingPassword"> کلمه عبور</label>
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="کلمه عبور">
            </div>

            <div class="checkbox mb-3">
                <label>
        <input type="checkbox" value="remember-me" name="remember"> مرا به خاطر بسپار
      </label>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LeP9vslAAAAAPUL_spI1ZIt59z0nKZDzes0H4Qp"></div>
            </div>
            <a href="/users/forget-password">فراموشی رمز عبور</a>
            <button class="w-100 btn btn-lg btn-primary" type="submit">ورود</button>
    </form>
</main>